<div class="dottedNavDiv">
	<a href="#/"><div class="dottedNavObj1"><i class="fa fa-user fa-2x"></i></div></a>
	<a href="#/ResumePage"><div class="dottedNavObj2"><i class="fa fa-graduation-cap fa-2x"></i></div></a>
	<a href="#/ProjectsPage"><div class="dottedNavObj3"><i class="fa fa-code fa-2x"></i></div></a>
	<a href="#/ContactMePage"><div class="dottedNavObj4"><i class="fa fa-envelope-o fa-2x"></i></div></a>
		
	<div class="dottedNavHome" ng-click="navClicked()"><i class="fa fa-home fa-4x"></i></div>
</div>

<div class="maintenance-div">
	<div class="maintenance-box">
		<h2 class="h2">Oops... Looks like this page is down for maintenance.</h2>
		<div class="cog-div">
			<i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
		</div>
		<h3 class="h3" style="margin-top: 15px;">Please use the Home Button to navigate to another page!</h3>
	</div>
</div>