<div class="dottedNavDiv">
	<a href="#/" class="dottedNavObj1"><i class="fa fa-user"></i></a>
	<a href="#/ResumePage" class="dottedNavObj2"><i class="fa fa-graduation-cap"></i></a>
	<a href="#/ProjectsPage" class="dottedNavObj3"><i class="fa fa-code"></i></a>
	<a href="#/ContactMePage" class="dottedNavObj4"><i class="fa fa-envelope-o"></i></a>
		
	<div class="dottedNavHome" ng-click="navClicked()"><i class="fa fa-home"></i></div>
</div>
<div class="choose-filter-div-all">
	<div class="all-project-filter">
		<h5 class="h5 text-center all-project-filter-header">Show Projects in</h5>
		<select ng-model="activeFilters.domain" class="form-control" id="domain-filter"
			ng-change="applyFilters(activeFilters.domain, activeFilters.tech, projectsList)">
			<option value="">-- All Domains --</option>
			<option ng-repeat="domain in domainsList" ng-value="domain.Name">{{ domain.Name }}</option>
		</select>
		<h5 class="h5 text-center all-project-filter-text">using</h5>
		<select ng-model="activeFilters.tech" class="form-control" id="tech-filter" style="margin-top: 5px;"
			ng-change="applyFilters(activeFilters.domain, activeFilters.tech, projectsList)">
			<option value="">-- Any Technology --</option>
			<option ng-repeat="tech in techList" ng-value="tech.Name">{{ tech.Name }}</option>
		</select>
	</div>
	<div class="all-project-header">
		<h2 class="h2 text-center">Total Projects: {{ numFilteredProjects }}</h2>
	</div>
	<div class="all-project-list">
		<div class="inner-div" id="custom-scroll">
			<div ng-repeat="project in filteredProjects" class="all-project-line" ng-click="setProject(project)">
				<p class="text-left project-line-text">{{ project.Project }}</p>
			</div>
		</div>
	</div>
	<div class="all-project-detail" ng-hide="selectedProject!=null">
		<h3 class="h3 text-center all-project-detail-header">Select a project from the right to get more information</h3>
	</div>
	<div class="all-project-detail" ng-hide="selectedProject==null">
		<h3 class="h3 text-center all-project-detail-header">{{ selectedProject.Project }}</h3>
		<h5 class="h5 text-left all-project-detail-text" style="margin-top: 30px;">
			<b class="all-project-detail-title">Domain:</b> {{ selectedProject.Domain }}</h5>
		<h5 class="h5 text-left all-project-detail-text">
			<b class="all-project-detail-title">Technology:</b> {{ selectedProject.Tech }}</h5>
		<h5 class="h5 text-left all-project-detail-text">
			<b class="all-project-detail-title">Description:</b> {{ selectedProject.Description }}</h5>
	</div>
</div>
