<div class="dottedNavDiv">
	<a href="#/"><div class="dottedNavObj1"><i class="fa fa-user fa-2x"></i></div></a>
	<a href="#/ResumePage"><div class="dottedNavObj2"><i class="fa fa-graduation-cap fa-2x"></i></div></a>
	<a href="#/ProjectsPage"><div class="dottedNavObj3"><i class="fa fa-code fa-2x"></i></div></a>
	<a href="#/ContactMePage"><div class="dottedNavObj4"><i class="fa fa-envelope-o fa-2x"></i></div></a>
		
	<div class="dottedNavHome" ng-click="navClicked()"><i class="fa fa-home fa-4x"></i></div>
</div>

<div class="col-md-1 col-lg-1 col-xl-1 col-sm-1 col-xs-1">
	<div class="last-updated-box">
		<p class="last-updated-font-header">  Last Updated:</p><p class="last-updated-font">  March 3rd, 2017</p>
	</div>
</div>
<div class="pdf-holder col-md-11 col-lg-11 col-xl-11 col-sm-11 col-xs-11">
	<object data="files/SeanGoldenTechnicalResume.pdf" type="application/pdf" width="100%" height="100%">
		<p>Seems my resume isn't loading! Don't fret, here is a 
	  		<a href="files/SeanGoldenTechnicalResume.pdf">link</a> that should still work</p>
	</object>
</div>
